.chat-main
  .chat-main__group-info
    .group-top
      .group-top__left
        %p.group-top___left__name
          test
        %p.group-top__left__member
          Member : masa
      .group-top__right
        = link_to "#", class:"group-top__right--link" do
          Edit
  .chat-main__message-list
    .message-items
      .message-items__top
        %p.message-items__top__name
          masa
        %p.message-items__top__date
          2020/5/20(Wed) 11:11:01
      %p.message-items__message
        こんにちは！
  .chat-main__message-form