.message-items
  .message-items__top
    %p.message-items__top__name
      = message.user.name
    %p.message-items__top__date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  %p.message-items__message
    -if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'messageJ-items__image' if message.image.present?
        